@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #D4ECDD;
    font-family: 'Roboto', sans-serif;
}

.app{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 100vh;
}