.switch {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 102px;
    margin-right: 1rem;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 78px;
    width: 78px;
    left: 12px;
    bottom: 12px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(78px);
    -ms-transform: translateX(78px);
    transform: translateX(78px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 102px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Container*/
.container-toggle{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
    max-width: 100%;
    margin-top: 2rem;
}

.text{
    font-size: 3rem;
}

.active{
    font-weight: bold;
}